body {
	background-color: purple;
}

.journalWrapper {
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

h1 {
	color: black;
}

p {
	font-size: 20px;
}

.results {
	padding: 10px;
	background-color: white;
	border-radius: 5px;
}
