@font-face {
  font-family: 'MIDORI';
  src: url('http://www.fontsaddict.com/fontface/midori.ttf');
}

body{
	background-color: #B69393;
}

.text-center{
	font-family: MIDORI;
	font-size: 60px;
}



.jourNal{
	background-color: #382828;
	color: white;
	padding: 30px;
}

p:hover{
	background-color: #886363;
	color: black;
}

#p{
	font-size: 20px;
	color: gray;
	margin: 15px;
}

.h{
	background-color: #382828;
	color: white;
	padding: 10px;
}

