@font-face {
  font-family: 'Happy New One';
  src: url('http://www.fontsaddict.com/fontface/happy-new-one.ttf');
}

@font-face {
  font-family: 'Smoolthan Regular-Italic';
  src: url('http://www.fontsaddict.com/fontface/smoolthan-regular-italic.ttf');
}

body{
	background-color: #856565;
}

#p{
	font-size: 20px;
	color: gray;
	margin: 15px;
}

#header{
	text-align: center;
	font-family: Happy New One;
	font-weight: bold;
	margin: 25px;
	color: #020101;
}

#paraG{
	font-family: Smoolthan Regular-Italic;
	font-size: 20px;
	margin: 20px;
	border: solid black 5px;
	border-radius: 25px;
	padding: 30px;
	color: #020101;
}