@font-face {
  font-family: 'Happy New One';
  src: url('http://www.fontsaddict.com/fontface/happy-new-one.ttf');
}

body{
	background-color: #856565;
}

.text-center{
	font-family: Happy New One;
	color: black;
}

.pics{
	height: 300px;
	width: 300px;
	margin: 5px;
	border: solid black 5px;
}

#p{
	font-size: 20px;
	color: gray;
	margin: 15px;
}