body{
	background-color: black;
}
#title {
	border-radius: 5px;
	text-align: center;
	color: black;
	border: solid black 5px;
	background-color: blue;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#menu a {
	border: solid black 2px;
	display: block;
	width: 24%;
	text-decoration: none;
	text-align: center;
	float: left;
	background-color: yellow;
}
#menu {
	width: 90%;
	padding: 10px;
	height: 22px;
	margin:auto;
}

img {
	width: 150px;
	height: 150px;
	border: solid black 9px;
}

h1 {
	text-align: center;
	border: solid black 10px;
	border-radius: 20px;
	padding: 10px;
}