#topBanner{
	border-radius: 5px;
	text-align: center;
	color: black;
	border: solid black 5px;
	background-color: blue;
}
#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#menu a {
	border: solid black 2px;
	display: block;
	width: 24%;
	text-decoration: none;
	text-align: center;
	float: left;
	background-color: yellow;
}
#menu {
	width: 90%;
	padding: 10px;
	height: 22px;
	margin:auto;
}
img {
	border: solid black 5px;
	width: 300px;
	height: 200px;
	margin: 10px;
	margin-left: 25px;
	float: left;
}
body{
	background-color: green;
	font: bold;
}
p{
	font-style: none;
	color: black;
	font-size: 1em;
}
.journalWrapper{
	width: 90%;
	height: auto;
	border: solid black 5px;
	border-radius: 10px;
	padding: 10px;
	background-color: orange;
}
h5{
	font-style: bold;
	font-size: 1em;
	text-decoration: underline;
}







