body {
	background-color: #226666;
}

h1 {
	float: center;
	padding: 10px;
	border: 7px solid black;
	border-radius: 5px;
	background-color: #669999;
}

#rock {
	float: left;
	display: block;
	width: 150px;
	height: 75px;
}

#paper {
	float: left;
	display: block;
	width: 150px;
	height: 75px;
}

#scissors {
	float: left;
	display: block;
	width: 150px;
	height: 75px;
}

.userBox {
	height: 630px;
	width: 405px;
	border: 20px solid #003333;
	padding: 10px;
	background-color: #0D4D4D;
}